.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 100;

  a {
    padding: 20px;
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 25px;
  margin-left: 7vw;
}

.nav {
  margin-right: 15vw;
  font-weight: 600;
  font-size: 20px;
  a {
    color: #787878;
  }
  :hover {
    color: #4d4d4d;
  }
}