.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 5px solid #e2e2e2;
  background: #ffffff;
}

.navbar-brand {
  font-size: 25px;
  margin: 0 3vw 0 7vw;
  font-family: "Patua One", cursive;
  img {
    margin: 4px 10px 0 0;
    border-radius: 5px;
  }
}

.nav-link {
  margin-top: 5px;
  font-weight: 600;
}
