@import "../../App.scss";

.body {
  @include body;
}

.my-info {
  display: flex;
  text-align: center;
  margin-bottom: 50px;

  div {
    width: 33%;
    margin: 0 auto;
  }
  .add-info-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
}

.profile {
  padding: 30px 0;
  display: flex;
  text-align: center;

  .profile-main {
    width: 50%;
    height: 50vh;

    img {
      width: 200px;
      height: 200px;
      margin: 5vh 5vw;
    }

    .name {
      font-size: 20px;
      display: grid;
      font-family: "Jua", sans-serif;
    }
  }

  .profile-contents {
    width: 50%;

    .card {
      padding: 10px 20px;
      margin: 15px 0;
      border-radius: 10px;
    }
    .card-content {
      div {
        font-size: 20px;
        font-weight: bold;
      }
      svg {
        margin: 10px 0;
      }
    }

    span {
      margin-right: 10px;
      background-color: yellow;
    }
  }
}
