.AppLayout {
  height: 76px;
}

@mixin body {
  margin: 2vw 15vw !important;

  .body-head {
    margin-bottom: 80px;

    .head-title {
      text-align: center;
      font-size: 50px;
      color: #ff6363;
      font-family: "Jua", sans-serif;
    }
    .title-line {
      border-bottom: 4px solid black;
      width: 130px;
      text-align: center;
      margin: 0 auto;
      border-color: #ff6363;
    }
  }

  .sub-title {
    font-size: 30px;
    // font-weight: 600;
    font-family: "Jua", sans-serif;
  }
}

.modal-80w {
  position: fixed;
  left: 15vw;
  min-width: 70vw !important;

  .modal-body-container {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
