.main {
  margin-top: 90px;
}

@mixin body {
  margin: 0 15vw;

  .body-head {
    margin-bottom: 80px;
    
    .head-title {
      text-align: center;
      font-size: 70px;
      font-weight: bold;
      color: #ff6363;
    }
    .title-line {
      border-bottom: 4px solid black;
      width: 150px;
      text-align: center;
      margin: 0 auto;
      border-color: #ff6363;
    }
  }

  .sub-title {
    font-size: 35px;
    font-weight: 700;
    font-family: "Patua One", cursive;
  }
}